<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="QbFilepath" value="C:\Users\VMR12\Documents\sample_product-based business.QBW" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
	  <!--<add key="locationId" value=""/>
	  <add key="SalesTaxCodeRefListId_Tax" value="" />
	  <add key="SalesTaxCodeRefListId_NonTax" value="" />
	  <add key="InvoiceLineItemRefListIdName_Material" value="" />
	  <add key="InvoiceLineItemRefListId_Material" value="" />
	  <add key="InvoiceLineItemRefListIdName_Labor" value="" />
	  <add key="InvoiceLineItemRefListId_Labor" value="" />

	  <add key="Accounts Receivable" value="" />
      <add key="Undeposited Funds" value="" />
      <add key="Accounts Payable" value="" />
	  <add key="Accounts Deposit" value="" />
	  <add key="DiscountRefListId" value="" />-->
	  
</appSettings>
  <!--<configSections> 
    </configSections>-->
  <connectionStrings>
    <add name="Default" connectionString="Data Source=VMR6\VMR6;Initial Catalog=ConstantERP;user id=sa;password=Vikas123$;MultipleActiveResultSets=True;Max Pool Size=7500;Min Pool Size=5; MultipleActiveResultSets=True;" providerName="system.data.sqlclient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>